<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="all_buttons2.css">
  

</head>
<body>
    

<div class="container">
    <div class="inner">
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
       <div class="col">
		 <div class="card radius-10 border-start border-0 border-3 border-info">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div>
						<p class="mb-0 text-secondary">Buy Now non hosted</p>
						<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIH2wYJKoZIhvcNAQcEoIIHzDCCB8gCAQExggE6MIIBNgIBADCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMA0GCSqGSIb3DQEBAQUABIGAOnjRjnlK9nyewKCc9z4sSy0qYe6BNhgjtlos3K/2+6TuXhD22LtVR0uzfCYUA1WVccIHRmuD3D4NPmvIwLbwxTg0KFm89icZFvRK9Kyvu1xgRaUihYuv13eQhKxh4XCTig4YtCDClxXHn0f0vwMRu2ARFT2+oAkuB68ACJ4FqMUxCzAJBgUrDgMCGgUAMIIBJQYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAifRW4a/o4i0oCCAQDmswwXYXmaNYNlXirCrWItyAuaurWYsds2XPruTvrjRi18LKi1VnesUTVxUStI2mosp5EeTwZtq90rwcztbdLWxbjwwazIEuWYy6A8fx7/Lx+mTIv3zMTli30eXBXXl8EyTUnzl1I3zCC0nqTNLg76TlzAtP4iOOa/R63KFVsaqqUojSHOhWLnjZzdbQ4u1B/3WoW39peLZocqX1Xuv6w+9LhplgXG2m/CtzMAgN2Z3xXheKVXWuozbhf5/k6unzvIDa0QLr9z87kVsWr00E+3ftEavQZ7SqX2FcmiCtCGDUAR+S4k1zy4nZ06ag3i1RzjPiZYh6r8ZQA4VnVPL8tOoIIDpTCCA6EwggMKoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgZgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMREwDwYDVQQHEwhTYW4gSm9zZTEVMBMGA1UEChMMUGF5UGFsLCBJbmMuMRYwFAYDVQQLFA1zYW5kYm94X2NlcnRzMRQwEgYDVQQDFAtzYW5kYm94X2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDA0MTkwNzAyNTRaFw0zNTA0MTkwNzAyNTRaMIGYMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxFTATBgNVBAoTDFBheVBhbCwgSW5jLjEWMBQGA1UECxQNc2FuZGJveF9jZXJ0czEUMBIGA1UEAxQLc2FuZGJveF9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBALeW47/9DdKjd04gS/tfi/xI6TtY3qj2iQtXw4vnAurerU20OeTneKaE/MY0szR+UuPIh3WYdAuxKnxNTDwnNnKCagkqQ6sZjqzvvUF7Ix1gJ8erG+n6Bx6bD5u1oEMlJg7DcE1k9zhkd/fBEZgc83KC+aMH98wUqUT9DZU1qJzzAgMBAAGjgfgwgfUwHQYDVR0OBBYEFIMuItmrKogta6eTLPNQ8fJ31anSMIHFBgNVHSMEgb0wgbqAFIMuItmrKogta6eTLPNQ8fJ31anSoYGepIGbMIGYMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxFTATBgNVBAoTDFBheVBhbCwgSW5jLjEWMBQGA1UECxQNc2FuZGJveF9jZXJ0czEUMBIGA1UEAxQLc2FuZGJveF9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQBXNvPA2Bl/hl9vlj/3cHV8H4nH/q5RvtFfRgTyWWCmSUNOvVv2UZFLlhUPjqXdsoT6Z3hns5sN2lNttghq3SoTqwSUUXKaDtxYxx5l1pKoG0Kg1nRu0vv5fJ9UHwz6fo6VCzq3JxhFGONSJo2SU8pWyUNW+TwQYxoj9D6SuPHHRTGCAaQwggGgAgEBMIGeMIGYMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxFTATBgNVBAoTDFBheVBhbCwgSW5jLjEWMBQGA1UECxQNc2FuZGJveF9jZXJ0czEUMBIGA1UEAxQLc2FuZGJveF9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTIyMDYzMDE3MjkxN1owIwYJKoZIhvcNAQkEMRYEFOP095ubslU/IrMM6AyWdNv9TVIsMA0GCSqGSIb3DQEBAQUABIGAnMAlJgA9YtFlnY1ksr38GiApgSQ/LXHlIrwXJ5/hnMEhbZJuvoWcQvnRCewT5eVFrQCbu+UR6VrcxYOKBXhGxtmGH/aeHtYifBrBoZCyw6kASc2czK4JTAyBSxdcO8MK3FfognY+zdDi2O2ApDFwWWu3SVowDSkGKrBouM10bJA=-----END PKCS7-----">
                            <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
					</div>
					<div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
					</div>
				</div>
			</div>
		 </div>
	   </div>
	   <div class="col">
		<div class="card radius-10 border-start border-0 border-3 border-danger">
		   <div class="card-body">
			   <div class="d-flex align-items-center">
				   <div>
					   <p class="mb-0 text-secondary">Add to cart non hosted</p>
					   <form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" >
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIH4wYJKoZIhvcNAQcEoIIH1DCCB9ACAQExggE6MIIBNgIBADCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMA0GCSqGSIb3DQEBAQUABIGAJQXJvG066TNWSs8UtrdJM+jLWNMJ+tYYaJpP+JvVb5BVa7DKZGUFE3Igv3x310AglRNp0l4Gre7jjloOD0Ohw5ESunGHeXOgHnkyU+ZccJl/83jelugmJVBMPy0goJt3GOmmVnSwXHxIZuNsdCmXrHNylx9yOZwlDp8C2nYtn4gxCzAJBgUrDgMCGgUAMIIBLQYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAiR6iMj6JcecICCAQivXO6WkYOFpRwzJZwbtyAlXqtUJJ9lMR+y2imJ5SM9LrToyplqV7fKChfJ1Ut/r8Uc6gQ05FHvfFOWPctEwjnz9V/x9AkJ2Xex7fGa5DuuutjhNJuHDf0TE7TpSrh53+hkbK4TKbS8VhXnDbpSOe3Nsd4IHwf+JsUWpfC9TGXUhT8/PZGq/CGZOfIFzGgGgv0QnyFIRW77Wm5z3DRFE42jUEoHUoIizdzHacckDy3zfFnefFHJRUppAS4qGlxg0nhNaXaMDibRdVkwAcBiuWZeL0XVds5dzLXrHt+6iQWC/eqE6Tm5Ve60hp77gxZsCC3+FxUq0KqUpitGgUxbTuYme9hwSXrkgrygggOlMIIDoTCCAwqgAwIBAgIBADANBgkqhkiG9w0BAQUFADCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDQxOTA3MDI1NFoXDTM1MDQxOTA3MDI1NFowgZgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMREwDwYDVQQHEwhTYW4gSm9zZTEVMBMGA1UEChMMUGF5UGFsLCBJbmMuMRYwFAYDVQQLFA1zYW5kYm94X2NlcnRzMRQwEgYDVQQDFAtzYW5kYm94X2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAt5bjv/0N0qN3TiBL+1+L/EjpO1jeqPaJC1fDi+cC6t6tTbQ55Od4poT8xjSzNH5S48iHdZh0C7EqfE1MPCc2coJqCSpDqxmOrO+9QXsjHWAnx6sb6foHHpsPm7WgQyUmDsNwTWT3OGR398ERmBzzcoL5owf3zBSpRP0NlTWonPMCAwEAAaOB+DCB9TAdBgNVHQ4EFgQUgy4i2asqiC1rp5Ms81Dx8nfVqdIwgcUGA1UdIwSBvTCBuoAUgy4i2asqiC1rp5Ms81Dx8nfVqdKhgZ6kgZswgZgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMREwDwYDVQQHEwhTYW4gSm9zZTEVMBMGA1UEChMMUGF5UGFsLCBJbmMuMRYwFAYDVQQLFA1zYW5kYm94X2NlcnRzMRQwEgYDVQQDFAtzYW5kYm94X2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAFc288DYGX+GX2+WP/dwdXwficf+rlG+0V9GBPJZYKZJQ069W/ZRkUuWFQ+Opd2yhPpneGezmw3aU222CGrdKhOrBJRRcpoO3FjHHmXWkqgbQqDWdG7S+/l8n1QfDPp+jpULOrcnGEUY41ImjZJTylbJQ1b5PBBjGiP0PpK48cdFMYIBpDCCAaACAQEwgZ4wgZgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMREwDwYDVQQHEwhTYW4gSm9zZTEVMBMGA1UEChMMUGF5UGFsLCBJbmMuMRYwFAYDVQQLFA1zYW5kYm94X2NlcnRzMRQwEgYDVQQDFAtzYW5kYm94X2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMjIwNjMwMTcyODAwWjAjBgkqhkiG9w0BCQQxFgQUd+8XEIkF6guZIwhC1N5eseXNkeowDQYJKoZIhvcNAQEBBQAEgYBHxByzAFgNJswXVsYGGarK7insIwkRQ6HP4xt6HCvvMagC2NO3KMhBNa+Efjv+rP7Rlclq2nOZmCTnWoDyaEonXi8Gp55cUTI4I5VDUrW0q+V24Y4u3fijW2fqy0w/aTlG6dasmRrU/m4oyzh5vwZFZLoOLtsbjCPMNS/gVZzJjA==-----END PKCS7-----">
                        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
				   </div>
				   <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class="fa fa-dollar"></i>
				   </div>
			   </div>
		   </div>
		</div>
	  </div>
	  <div class="col">
		<div class="card radius-10 border-start border-0 border-3 border-success">
		   <div class="card-body">
			   <div class="d-flex align-items-center">
				   <div>
					   <p class="mb-0 text-secondary">Donate</p>
					   <form action="https://www.sandbox.paypal.com/donate" method="post" target="_top">
                        <input type="hidden" name="hosted_button_id" value="ZUMQ7P4RZ37ME" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                        </form>
				   </div>
				   <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class="fa fa-bar-chart"></i>
				   </div>
			   </div>
		   </div>
		</div>
	  </div>
	  <div class="col">
		<div class="card radius-10 border-start border-0 border-3 border-warning">
		   <div class="card-body">
			   <div class="d-flex align-items-center">
				   <div>
					   <p class="mb-0 text-secondary">Smart subscribe</p>
					   <div class="card-body">
                        <div id="paypal-button-container-P-4M483543L46128059MK6557Y"></div>
                        <script src="https://www.paypal.com/sdk/js?client-id=AVdngEk41ivht5aWefHdEomKQ40JEKmACQJl7MXCBHJ7GKdqeqdvi1jF5M4FjJJY9o55XAokEFyrRtiJ&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
                        <script>
                          paypal.Buttons({
                              style: {
                                  shape: 'rect',
                                  color: 'gold',
                                  layout: 'vertical',
                                  label: 'subscribe'
                              },
                              createSubscription: function(data, actions) {
                                return actions.subscription.create({
                                  /* Creates the subscription */
                                  plan_id: 'P-4M483543L46128059MK6557Y'
                                });
                              },
                              onApprove: function(data, actions) {
                                alert(data.subscriptionID); // You can add optional success message for the subscriber here
                              }
                          }).render('#paypal-button-container-P-4M483543L46128059MK6557Y'); // Renders the PayPal button
                        </script>
                    </div>
                  </div>
				   </div>
				   <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto"><i class="fa fa-users"></i>
				   </div>
			   </div>
		   </div>
		</div>
	  </div> 
	



    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
        <div class="col">
          <div class="card radius-10 border-start border-0 border-3 border-info">
             <div class="card-body">
                 <div class="d-flex align-items-center">
                     <div>
                         <p class="mb-0 text-secondary">subscribe</p>
                         <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHqQYJKoZIhvcNAQcEoIIHmjCCB5YCAQExggE6MIIBNgIBADCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMA0GCSqGSIb3DQEBAQUABIGABIWcoTqJFMoIY/8MTL/B00pzVdonUkPfdFz9hfvJ0LiT99oYGFVQrvy0vY7OK92wpFsXm2az6WVdmqBr5Z9wdDEEdBi/8xHiD73feHPNHOt1nRSv8pcXMCFoi0/pHcpisqSsGMFlN0hxfDW/8xomfOcznq9psGGnlJ3G9V63acYxCzAJBgUrDgMCGgUAMIH0BgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECL2DPWKnNhHVgIHQML6xA4iK1HpFhCg9urKPXLONju7eTZ6Q5hsVTzgVN7Xd+Hi03LpFuivEunU9+6riPNy8JQPWhDgABE8S9yUdZ3zyFg0qBE+3Y/e0vE+sMBESHEDuCjvpkbqHXkf0yY3cc26TZXdZ4TxaFDFeYXiHYWbH/eZWtTpHWpA1jgugEmNWMBhKR2Jj5y6KMlVTwJCn1KbzBb0wEAgqAs4wut0aczKBUitIRZj0R6C/wPZCxjACi7FF6kJw40hWmoZx6h+Q/pCLuli8Yo1zWYV5lgp226CCA6UwggOhMIIDCqADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGYMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxFTATBgNVBAoTDFBheVBhbCwgSW5jLjEWMBQGA1UECxQNc2FuZGJveF9jZXJ0czEUMBIGA1UEAxQLc2FuZGJveF9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwNDE5MDcwMjU0WhcNMzUwNDE5MDcwMjU0WjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC3luO//Q3So3dOIEv7X4v8SOk7WN6o9okLV8OL5wLq3q1NtDnk53imhPzGNLM0flLjyId1mHQLsSp8TUw8JzZygmoJKkOrGY6s771BeyMdYCfHqxvp+gcemw+btaBDJSYOw3BNZPc4ZHf3wRGYHPNygvmjB/fMFKlE/Q2VNaic8wIDAQABo4H4MIH1MB0GA1UdDgQWBBSDLiLZqyqILWunkyzzUPHyd9Wp0jCBxQYDVR0jBIG9MIG6gBSDLiLZqyqILWunkyzzUPHyd9Wp0qGBnqSBmzCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAVzbzwNgZf4Zfb5Y/93B1fB+Jx/6uUb7RX0YE8llgpklDTr1b9lGRS5YVD46l3bKE+md4Z7ObDdpTbbYIat0qE6sElFFymg7cWMceZdaSqBtCoNZ0btL7+XyfVB8M+n6OlQs6tycYRRjjUiaNklPKVslDVvk8EGMaI/Q+krjxx0UxggGkMIIBoAIBATCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0yMjA2MzAxNzM4MjlaMCMGCSqGSIb3DQEJBDEWBBQu+b3u0OEiu1vbZ181DSD7HPSOiDANBgkqhkiG9w0BAQEFAASBgIWraTGUEXQtSz/JB94ryZTYoSq7Y05S1Bn4MRZzE7roKOOGN4b7m2TKMQXNqeChhPrf5HlxIFsyrIiiEiqHj/XvI58ZSKelFGv1OjPBe8hDbLujECkVqzkdjTTFDBcpiAIbkZA/PXUSOQjEPH6S/s4/xd7MgcQUbU5iKbw1a7qJ-----END PKCS7-----">
                            <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
                     <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
                     </div>
                 </div>
             </div>
          </div>
        </div>


        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
            <div class="col">
              <div class="card radius-10 border-start border-0 border-3 border-info">
                 <div class="card-body">
                     <div class="d-flex align-items-center">
                         <div>
                             <p class="mb-0 text-secondary">Automatic Billing</p>
                             <form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" >
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIH4wYJKoZIhvcNAQcEoIIH1DCCB9ACAQExggE6MIIBNgIBADCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMA0GCSqGSIb3DQEBAQUABIGAFHyFDpFIKVkx0OSJWdyRLC/LpE4W/ajSgIfQRSzDlcy627O0//XT21AzPjWEG3fm7k5qTpRjdpZt0El8hRPFICBI8sIHt5U/rKdUD9uqPgFvyn5WsrIObR7NRlzpuWIz4cHprmaCTeXX4XfEDiE85Djci3swiPh4RcGM1IySMd4xCzAJBgUrDgMCGgUAMIIBLQYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAgkpsIXIIlS+4CCAQh4Yp1LtLAG7R1hVHP6o9I34Qj0hM32F2WHjqDu4zT1hyFArFUqAKoWc/kCuqOtMXF+I2v4ssa2h8b6ePBrZQDpm1LZD3DZwJHmTy7sHp6W1YWaC5b1e7qlSjGIZYFB2UnvXiDx2I02UBFu3s/2fdZPBH6dhtCfv8cX/4pDnFB9pfgL8BcaHGZ6upNKZgQSuXW4rYUUPfwak/vYPVimkxtK5UHT8IrawuojR7d/FLLc2Yh4uNIJgg3J1adyhi/TIaXZaq4QH7Fd5PyHda1ALiVX8mmScyxm6w3IiPbvf6iDsz0tth/KRjKbRYq4d5sEoRaSTA/C6LCVSeoLJ6sdO4Y3pMNKFQ9Dl0ugggOlMIIDoTCCAwqgAwIBAgIBADANBgkqhkiG9w0BAQUFADCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDQxOTA3MDI1NFoXDTM1MDQxOTA3MDI1NFowgZgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMREwDwYDVQQHEwhTYW4gSm9zZTEVMBMGA1UEChMMUGF5UGFsLCBJbmMuMRYwFAYDVQQLFA1zYW5kYm94X2NlcnRzMRQwEgYDVQQDFAtzYW5kYm94X2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAt5bjv/0N0qN3TiBL+1+L/EjpO1jeqPaJC1fDi+cC6t6tTbQ55Od4poT8xjSzNH5S48iHdZh0C7EqfE1MPCc2coJqCSpDqxmOrO+9QXsjHWAnx6sb6foHHpsPm7WgQyUmDsNwTWT3OGR398ERmBzzcoL5owf3zBSpRP0NlTWonPMCAwEAAaOB+DCB9TAdBgNVHQ4EFgQUgy4i2asqiC1rp5Ms81Dx8nfVqdIwgcUGA1UdIwSBvTCBuoAUgy4i2asqiC1rp5Ms81Dx8nfVqdKhgZ6kgZswgZgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMREwDwYDVQQHEwhTYW4gSm9zZTEVMBMGA1UEChMMUGF5UGFsLCBJbmMuMRYwFAYDVQQLFA1zYW5kYm94X2NlcnRzMRQwEgYDVQQDFAtzYW5kYm94X2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAFc288DYGX+GX2+WP/dwdXwficf+rlG+0V9GBPJZYKZJQ069W/ZRkUuWFQ+Opd2yhPpneGezmw3aU222CGrdKhOrBJRRcpoO3FjHHmXWkqgbQqDWdG7S+/l8n1QfDPp+jpULOrcnGEUY41ImjZJTylbJQ1b5PBBjGiP0PpK48cdFMYIBpDCCAaACAQEwgZ4wgZgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMREwDwYDVQQHEwhTYW4gSm9zZTEVMBMGA1UEChMMUGF5UGFsLCBJbmMuMRYwFAYDVQQLFA1zYW5kYm94X2NlcnRzMRQwEgYDVQQDFAtzYW5kYm94X2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMjIwNjMwMTc0MDM3WjAjBgkqhkiG9w0BCQQxFgQUSyw2YMC5ZF+MyH+kDG4lXHgykM4wDQYJKoZIhvcNAQEBBQAEgYANoFjZhsdvh+CxdlC1d8VyLEoLZmoH9lO567PYkha3U7ZB2ngEdYM/1+HaEOjobQ1zJU4gEQg3Ks/6SfW5unoLTIprFzD63UtzI6baHUyM+0J2bZ9tpCADSYs8m7AchbbxfNk2n57RkePz7+LwIWJtCWCu60aQMqZaYQ0XZQg1cA==-----END PKCS7-----">
                                <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                </form>
                         <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
                         </div>
                     </div>
                 </div>
              </div>
            </div>


            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                <div class="col">
                  <div class="card radius-10 border-start border-0 border-3 border-info">
                     <div class="card-body">
                         <div class="d-flex align-items-center">
                             <div>
                                 <p class="mb-0 text-secondary">Buy Now</p>
                                 <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="HNV44G38VLQZ8">
                                    <table>
                                    <tr><td><input type="hidden" name="on0" value="name">name</td></tr><tr><td><select name="os0">
                                        <option value="Option 1">Option 1 $100.00 USD</option>
                                        <option value="Option 2">Option 2 $100.00 USD</option>
                                        <option value="Option 3">Option 3 $100.00 USD</option>
                                    </select> </td></tr>
                                    </table>
                                    <input type="hidden" name="currency_code" value="USD">
                                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                    </form>
                             <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
                             </div>
                         </div>
                     </div>
                  </div>
                </div>

                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                    <div class="col">
                      <div class="card radius-10 border-start border-0 border-3 border-info">
                         <div class="card-body">
                             <div class="d-flex align-items-center">
                                 <div>
                                     <p class="mb-0 text-secondary">Add to cart(with no_shipping advanced variable.)</p>
                                     <form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="D2BJ58H8HV3XS">
                                        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                        </form>
                                 <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
                                 </div>
                             </div>
                         </div>
                      </div>
                    </div>


                    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                        <div class="col">
                          <div class="card radius-10 border-start border-0 border-3 border-info">
                             <div class="card-body">
                                 <div class="d-flex align-items-center">
                                     <div>
                                         <p class="mb-0 text-secondary">Subscribe Hosted</p>
                                         <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="V6HM5ABC6LF5L">
                                            <table>
                                            <tr><td><input type="hidden" name="on0" value="price options">price options</td></tr><tr><td><select name="os0">
                                                <option value="Option 1">Option 1 : $110.00 USD - monthly</option>
                                                <option value="Option 2">Option 2 : $110.00 USD - monthly</option>
                                                <option value="Option 3">Option 3 : $110.00 USD - monthly</option>
                                            </select> </td></tr>
                                            </table>
                                            <input type="hidden" name="currency_code" value="USD">
                                            <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                            <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                            </form>
                                     <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
                                     </div>
                                 </div>
                             </div>
                          </div>
                        </div>


                        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                            <div class="col">
                              <div class="card radius-10 border-start border-0 border-3 border-info">
                                 <div class="card-body">
                                     <div class="d-flex align-items-center">
                                         <div>
                                             <p class="mb-0 text-secondary">Automatic billing hosted</p>
                                             <form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                                                <input type="hidden" name="cmd" value="_s-xclick">
                                                <input type="hidden" name="hosted_button_id" value="B3TKMEKSZXWSA">
                                                <table>
                                                <tr><td><input type="hidden" name="on0" value="price options">price options</td></tr><tr><td><select name="os0">
                                                    <option value="Option 1">Option 1 $100.00 USD</option>
                                                    <option value="Option 2">Option 2 $100.00 USD</option>
                                                    <option value="Option 3">Option 3 $100.00 USD</option>
                                                </select> </td></tr>
                                                </table>
                                                <input type="hidden" name="currency_code" value="USD">
                                                <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                                <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                                </form>
                                         <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
                                         
                                          <div>
                                          
                                          </div>
                                         </div>
                                     </div>
                                 </div>
                              </div>
                            </div>
</div>
</div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
  <div class="col">
    <div class="card radius-10 border-start border-0 border-3 border-info">
       <div class="card-body">
           <div class="d-flex align-items-center">
               <div>
                   <p class="mb-0 text-secondary">Buy Now Hosted</p>
                   <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="AU6VSLS22H5NC">
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <form id="myContainer" method="post" action="/checkout"></form>

                    <script>
                       window.paypalCheckoutReady = function () {
                         paypal.checkout.setup('<Your-Merchant-ID>', {
                             environment: 'sandbox',
                             container: 'myContainer'
                           });
                      };
                    </script>
                    
                <script src="https://www.paypalobjects.com/api/checkout.js" async></script>
               <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
               </div>
           </div>
       </div>
    </div>
  </div>

  <form id="myContainer" method="post" action="/checkout"></form>

  <script>
     window.paypalCheckoutReady = function () {
       paypal.checkout.setup('<Your-Merchant-ID>', {
           environment: 'sandbox',
           container: 'myContainer'
         });
    };
  </script>
  
  <script src="https://www.paypalobjects.com/api/checkout.js" async></script>

  <div>
    <div>
      <div>
        <iframe id="payflow-link-iframe" sandbox="allow-top-navigation allow-scripts allow-same-origin allow-forms allow-modals" src="https://pilot-payflowlink.paypal.com/?SECURETOKEN=7zJeDjgfNbk6JqxBj8uM6RgP6&SECURETOKENID=9a9ea8208de1413abc3d60c86cb1f4b1&USER=Danstires&VENDOR=Danstires&PARTNER=PayPal&PWD=EllieBobo31&TRXTYPE=A"></iframe>    
      <title>PageTitle</title> <form method="post" action="https://pilot-payflowlink.paypal.com"> <input type=hidden value="3qIpRsDgJLkKmRk6n15wDLwIY" name=SECURETOKEN/> <input type=hidden value="9a9ea8208de1413abc3d60c86cb1f4c9" name=SECURETOKENID/> </form> </div>
      <div><br><br><br><br><br><br></div>
      <title>PageTitle</title> <form method="post" action="https://pilot-payflowlink.paypal.com"> <input type="text" name="SECURETOKEN" value="7zJeDjgfNbk6JqxBj8uM6RgP6"/> <input type="text" name="SECURETOKENID" value="9a9ea8208de1413abc3d60c86cb1f4b1"/> <input type="hidden" name="PARMLIST" value="INVNUM[8]=INV123&AMT[5]=25.50&CURRENCY[3]=USD"/> <input type="submit"/> </form>
      <div>
      <form id="form" action="https://payflowlink.paypal.com" method="post">
      
      <input name="MODE" type="hidden" value="Test"> 
      
      <input name="SECURETOKEN"  type="hidden" value="3qIpRsDgJLkKmRk6n15wDLwIY"> 
      
      <input name="SECURETOKENID" type="hidden" value="9a9ea8208de1413abc3d60c86cb1f4c9">
      
      <input name="CARDNUM"  type="hidden" value="4111111111111111">
      
      <input name="EXPMONTH"  type="hidden" value="11">
      
      <input name="EXPYEAR"  type="hidden" value="16">
      
      <input name="CVV2"  type="hidden" value="123">
      
      <input name="SILENTTRANS"  id="hdn_pp_silenttrans" type="hidden" value="Y">
      
      <input name="VERBOSITY"  type="hidden" value="HIGH">
      
      <input type="submit" value="Submit" />
      
      </form>
      </div>
      </div>

  </div>
</body>
</html>